# Preprocess dataset

(1) Preprocess MIMIC-IV datasets individually. 
We combine each admission with admission ID, diagnosis ICD codes and duration in hospital

In [52]:
import getpass
user_id = getpass.getuser()

import sys
sys.path.append(f"/home/{user_id}/physionet.org/files/mimic_iv/3.1/")

import os 
import pandas as pd

In [53]:
base_path = f"/home/{user_id}/physionet.org/files/mimic_iv/3.1/"

In [54]:
admission_df = pd.read_csv(os.path.join(base_path, "hosp/admissions.csv"))
display(admission_df)

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P49AFC,TRANSFER FROM HOSPITAL,HOME,Medicaid,English,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P784FA,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P19UTS,EMERGENCY ROOM,HOSPICE,Medicaid,English,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P06OTX,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P39NWO,EMERGENCY ROOM,NaN,NaN,English,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546023,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,NaN,EW EMER.,P13JMH,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,English,SINGLE,WHITE,2149-01-08 09:11:00,2149-01-08 18:12:00,0
546024,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,NaN,EW EMER.,P38XL8,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicaid,English,SINGLE,WHITE,2147-07-17 17:18:00,2147-07-18 17:34:00,0
546025,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,EW EMER.,P33612,EMERGENCY ROOM,DIED,Private,English,WIDOWED,WHITE,2164-09-10 11:09:00,2164-09-10 14:46:00,1
546026,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,EW EMER.,P036NA,EMERGENCY ROOM,HOME,Private,English,WIDOWED,WHITE,2164-07-24 21:16:00,2164-07-25 01:20:00,0
546027,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,EW EMER.,P95A45,EMERGENCY ROOM,REHAB,Medicaid,English,NaN,UNKNOWN,2145-11-02 19:28:00,2145-11-02 22:59:00,0

In [55]:
patient_df = pd.read_csv(os.path.join(base_path, "hosp/patients.csv"))
display(patient_df)

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod
0,10000032,F,52,2180,2014 - 2016,2180-09-09
1,10000048,F,23,2126,2008 - 2010,NaN
2,10000058,F,33,2168,2020 - 2022,NaN
3,10000068,F,19,2160,2008 - 2010,NaN
4,10000084,M,72,2160,2017 - 2019,2161-02-13
...,...,...,...,...,...,...
364622,19999828,F,46,2147,2017 - 2019,NaN
364623,19999829,F,28,2186,2008 - 2010,NaN
364624,19999840,M,58,2164,2008 - 2010,2164-09-17
364625,19999914,F,49,2158,2017 - 2019,NaN
364626,19999987,F,57,2145,2011 - 2013,NaN

In [56]:
diagnoses_icd_df = pd.read_csv(os.path.join(base_path, "hosp/diagnoses_icd.csv"))
display(diagnoses_icd_df)

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
6364483    19999987  23865745        7    41401            9
6364484    19999987  23865745        8    78039            9
6364485    19999987  23865745        9     0413            9
6364486    19999987  23865745       10    36846            9
6364487    19999987  23865745       11     7810            9

[6364488 rows x 5 columns]

In [57]:
# Aggregate diagnoses_icd_df with same hadm_id merged to one row
grouped_diagnoses_icd_df = diagnoses_icd_df.groupby("hadm_id")["icd_code"].agg(list).reset_index()
grouped_diagnoses_icd_df = grouped_diagnoses_icd_df.rename(columns={'icd_code': "diagnosis_icd_code"})
display(grouped_diagnoses_icd_df)

         hadm_id                                 diagnosis_icd_code
0       20000019  [0389, 59080, 75310, 5849, 2761, 99591, 25000,...
1       20000024  [D500, K521, I10, E538, M810, R270, Z9181, H54...
2       20000034  [K831, K8689, K861, K869, R1032, R10819, R8279...
3       20000041  [71536, 25002, V8541, 4019, 2724, V4586, 53081...
4       20000045  [A419, N390, C7951, C787, K56699, C779, K5100,...
...          ...                                                ...
545492  29999803  [I110, I4820, E871, D689, I472, Z20828, Z4502,...
545493  29999809  [41401, 03842, 5990, 99591, 5961, 496, 4111, 5...
545494  29999828  [27801, 5180, 2762, V8542, 4019, 2724, 25000, ...
545495  29999928  [I472, I723, I724, I452, E785, Z8249, Z8241, I...
545496  29999935  [R1013, R112, E860, K5900, Z9884, K219, M549, ...

[545497 rows x 2 columns]

In [58]:
# Combine admission, diagnoses_icd and procedures_icd
mimic_iv_df = admission_df.merge(patient_df, left_on='subject_id', right_on='subject_id')
mimic_iv_df = mimic_iv_df.merge(grouped_diagnoses_icd_df, left_on='hadm_id', right_on='hadm_id')
display(mimic_iv_df)

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,race,edregtime,edouttime,hospital_expire_flag,gender,anchor_age,anchor_year,anchor_year_group,dod,diagnosis_icd_code
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P49AFC,TRANSFER FROM HOSPITAL,HOME,Medicaid,...,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0,F,52,2180,2014 - 2016,2180-09-09,"[5723, 78959, 5715, 07070, 496, 29680, 30981, ..."
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P784FA,EMERGENCY ROOM,HOME,Medicaid,...,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0,F,52,2180,2014 - 2016,2180-09-09,"[07071, 78959, 2875, 2761, 496, 5715, V08, 3051]"
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P19UTS,EMERGENCY ROOM,HOSPICE,Medicaid,...,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0,F,52,2180,2014 - 2016,2180-09-09,"[07054, 78959, V462, 5715, 2767, 2761, 496, V0..."
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P06OTX,EMERGENCY ROOM,HOME,Medicaid,...,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0,F,52,2180,2014 - 2016,2180-09-09,"[45829, 07044, 7994, 2761, 78959, 2767, 3051, ..."
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P39NWO,EMERGENCY ROOM,NaN,NaN,...,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0,F,19,2160,2008 - 2010,NaN,[30500]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545492,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,NaN,EW EMER.,P13JMH,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,...,WHITE,2149-01-08 09:11:00,2149-01-08 18:12:00,0,F,46,2147,2017 - 2019,NaN,"[T8141XA, E1110, K632, D682, L02211, T83728A, ..."
545493,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,NaN,EW EMER.,P38XL8,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicaid,...,WHITE,2147-07-17 17:18:00,2147-07-18 17:34:00,0,F,46,2147,2017 - 2019,NaN,"[T8131XA, T8183XA, K632, D6851, N390, Y838, Y9..."
545494,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,EW EMER.,P33612,EMERGENCY ROOM,DIED,Private,...,WHITE,2164-09-10 11:09:00,2164-09-10 14:46:00,1,M,58,2164,2008 - 2010,2164-09-17,"[3453, 51881, 5070, 5180, 42741, 43821, 43811,..."
545495,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,EW EMER.,P036NA,EMERGENCY ROOM,HOME,Private,...,WHITE,2164-07-24 21:16:00,2164-07-25 01:20:00,0,M,58,2164,2008 - 2010,2164-09-17,"[43491, 43820, 34590, 43811, 4019, 2724, 3051]"
545496,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,EW EMER.,P95A45,EMERGENCY ROOM,REHAB,Medicaid,...,UNKNOWN,2145-11-02 19:28:00,2145-11-02 22:59:00,0,F,57,2145,2011 - 2013,NaN,"[431, 3485, 20280, 5849, 5990, 2449, 41401, 78..."

In [59]:
# Calculate the duaration column
mimic_iv_df['duration'] = (pd.to_datetime(mimic_iv_df["dischtime"])-pd.to_datetime(mimic_iv_df["admittime"])).dt.total_seconds()
mimic_iv_df

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,edregtime,edouttime,hospital_expire_flag,gender,anchor_age,anchor_year,anchor_year_group,dod,diagnosis_icd_code,duration
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P49AFC,TRANSFER FROM HOSPITAL,HOME,Medicaid,...,2180-05-06 19:17:00,2180-05-06 23:30:00,0,F,52,2180,2014 - 2016,2180-09-09,"[5723, 78959, 5715, 07070, 496, 29680, 30981, ...",67920.0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P784FA,EMERGENCY ROOM,HOME,Medicaid,...,2180-06-26 15:54:00,2180-06-26 21:31:00,0,F,52,2180,2014 - 2016,2180-09-09,"[07071, 78959, 2875, 2761, 496, 5715, V08, 3051]",87720.0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P19UTS,EMERGENCY ROOM,HOSPICE,Medicaid,...,2180-08-05 20:58:00,2180-08-06 01:44:00,0,F,52,2180,2014 - 2016,2180-09-09,"[07054, 78959, V462, 5715, 2767, 2761, 496, V0...",151560.0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P06OTX,EMERGENCY ROOM,HOME,Medicaid,...,2180-07-23 05:54:00,2180-07-23 14:00:00,0,F,52,2180,2014 - 2016,2180-09-09,"[45829, 07044, 7994, 2761, 78959, 2767, 3051, ...",192000.0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P39NWO,EMERGENCY ROOM,NaN,NaN,...,2160-03-03 21:55:00,2160-03-04 06:26:00,0,F,19,2160,2008 - 2010,NaN,[30500],25800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545492,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,NaN,EW EMER.,P13JMH,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,...,2149-01-08 09:11:00,2149-01-08 18:12:00,0,F,46,2147,2017 - 2019,NaN,"[T8141XA, E1110, K632, D682, L02211, T83728A, ...",864960.0
545493,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,NaN,EW EMER.,P38XL8,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicaid,...,2147-07-17 17:18:00,2147-07-18 17:34:00,0,F,46,2147,2017 - 2019,NaN,"[T8131XA, T8183XA, K632, D6851, N390, Y838, Y9...",1475220.0
545494,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,EW EMER.,P33612,EMERGENCY ROOM,DIED,Private,...,2164-09-10 11:09:00,2164-09-10 14:46:00,1,M,58,2164,2008 - 2010,2164-09-17,"[3453, 51881, 5070, 5180, 42741, 43821, 43811,...",604500.0
545495,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,EW EMER.,P036NA,EMERGENCY ROOM,HOME,Private,...,2164-07-24 21:16:00,2164-07-25 01:20:00,0,M,58,2164,2008 - 2010,2164-09-17,"[43491, 43820, 34590, 43811, 4019, 2724, 3051]",301680.0
545496,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,EW EMER.,P95A45,EMERGENCY ROOM,REHAB,Medicaid,...,2145-11-02 19:28:00,2145-11-02 22:59:00,0,F,57,2145,2011 - 2013,NaN,"[431, 3485, 20280, 5849, 5990, 2449, 41401, 78...",746340.0

In [60]:
# Drop some columns, rename some columns and add version column
target_columns = ['hadm_id', 'diagnosis_icd_code', 'duration']
mimic_iv_df = mimic_iv_df[target_columns]
mimic_iv_df.rename(columns={
    'hadm_id': 'admid',
    'diagnosis_icd_code': 'ICD codes'
}, inplace=True)
mimic_iv_df['version'] = 'mimic_iv'
mimic_iv_df

/tmp/ipykernel_2118968/3223294333.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mimic_iv_df.rename(columns={
/tmp/ipykernel_2118968/3223294333.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mimic_iv_df['version'] = 'mimic_iv'

,admid,ICD codes,duration,version
0,22595853,"[5723, 78959, 5715, 07070, 496, 29680, 30981, ...",67920.0,mimic_iv
1,22841357,"[07071, 78959, 2875, 2761, 496, 5715, V08, 3051]",87720.0,mimic_iv
2,25742920,"[07054, 78959, V462, 5715, 2767, 2761, 496, V0...",151560.0,mimic_iv
3,29079034,"[45829, 07044, 7994, 2761, 78959, 2767, 3051, ...",192000.0,mimic_iv
4,25022803,[30500],25800.0,mimic_iv
...,...,...,...,...
545492,25744818,"[T8141XA, E1110, K632, D682, L02211, T83728A, ...",864960.0,mimic_iv
545493,29734428,"[T8131XA, T8183XA, K632, D6851, N390, Y838, Y9...",1475220.0,mimic_iv
545494,21033226,"[3453, 51881, 5070, 5180, 42741, 43821, 43811,...",604500.0,mimic_iv
545495,26071774,"[43491, 43820, 34590, 43811, 4019, 2724, 3051]",301680.0,mimic_iv
545496,23865745,"[431, 3485, 20280, 5849, 5990, 2449, 41401, 78...",746340.0,mimic_iv

In [61]:
# Save the final admission dataframe into csv
mimic_output_path = f"/home/{user_id}/OTTEHR/outputs/"
mimic_iv_df.to_csv(os.path.join(mimic_output_path, 'mimic_iv', 'admission_patient_diagnosis_ICD.csv'), index=False, header=True)

(2) Combine MIMIC-III and MIMIC-IV datasets

In [62]:
# We read the MIMIC-III dataset, select the columns we need, add version column

mimic_iii_df = pd.read_csv(os.path.join(mimic_output_path, 'mimic_iii', 'admission_patient_diagnosis_ICD.csv'), header=0, index_col=None)
target_columns = ['ICD codes', 'duration', 'admid']
mimic_iii_df = mimic_iii_df[target_columns]
mimic_iii_df['version'] = 'mimic_iii'
mimic_iii_df

,ICD codes,duration,admid,version
0,"['403.01', '486', '582.81', '585.5', '425.4', ...",530460.0,172335,mimic_iii
1,"['403.01', '585.6', '583.81', '710.0', '558.9'...",574560.0,173633,mimic_iii
2,"['531.00', '410.71', '285.9', '414.01', '725']",425460.0,174105,mimic_iii
3,"['191.5', '331.4', '530.81']",1284240.0,109976,mimic_iii
4,"['414.01', '411.1', '482.83', '285.9', '272.0'...",485280.0,178393,mimic_iii
...,...,...,...,...
58971,"['202.80', '348.5', '784.3', '401.9', '272.0',...",449700.0,172304,mimic_iii
58972,"['566', '250.62', '357.2', 'V58.67', '427.31',...",415740.0,152542,mimic_iii
58973,"['434.11', '348.5', '348.4', '430', '348.30', ...",692940.0,161999,mimic_iii
58974,"['346.80', '784.3', '745.5', '781.94', '368.40...",150060.0,189314,mimic_iii
58975,"['052.9', '416.2', '201.92', '135', '276.69', ...",688980.0,168949,mimic_iii

In [63]:
# Then, merge MIMIC-III and MIMIC-IV database
cross_df = pd.concat([mimic_iv_df, mimic_iii_df], ignore_index=True)
cross_df

,admid,ICD codes,duration,version
0,22595853,"[5723, 78959, 5715, 07070, 496, 29680, 30981, ...",67920.0,mimic_iv
1,22841357,"[07071, 78959, 2875, 2761, 496, 5715, V08, 3051]",87720.0,mimic_iv
2,25742920,"[07054, 78959, V462, 5715, 2767, 2761, 496, V0...",151560.0,mimic_iv
3,29079034,"[45829, 07044, 7994, 2761, 78959, 2767, 3051, ...",192000.0,mimic_iv
4,25022803,[30500],25800.0,mimic_iv
...,...,...,...,...
604468,172304,"['202.80', '348.5', '784.3', '401.9', '272.0',...",449700.0,mimic_iii
604469,152542,"['566', '250.62', '357.2', 'V58.67', '427.31',...",415740.0,mimic_iii
604470,161999,"['434.11', '348.5', '348.4', '430', '348.30', ...",692940.0,mimic_iii
604471,189314,"['346.80', '784.3', '745.5', '781.94', '368.40...",150060.0,mimic_iii
604472,168949,"['052.9', '416.2', '201.92', '135', '276.69', ...",688980.0,mimic_iii

In [64]:
cross_df.to_csv(os.path.join(mimic_output_path, 'cross', 'admission_patient_diagnosis_ICD.csv'), index=False, header=True)